#### Formato padrão batimento cleared:

confirmedDate: [date] Data de clearing (confirmação)

eventType: [string] Data de clearing (confirmação)

amountInBRL: [numeric] Data de clearing (confirmação)

____

Domínio do eventType:
debit: Vendas de crédito (bruto de Interchange)
credit: Vendas de crédito (bruto de IC)
chargeback: Chargebacks (bruto de IC)
secondPresentment: Reapresentações (bruto de IC)

In [1]:
import pandas as pd

In [2]:
# Criação de tabelas dummy

vss = pd.DataFrame(columns = ['confirmedDate', 'eventType', 'amountInBRL']) 
receivables = pd.DataFrame(columns = ['confirmedDate', 'eventType', 'amountInBRL'])

In [3]:
# Criação tabela de batimento

batimentoCleared = pd.DataFrame(columns = ['confirmedDate', 'eventType', 'vssAmount', 'receivablesAmount', 'dif'])

###### Check tabelas

In [4]:
vss

Empty DataFrame
Columns: [confirmedDate, eventType, amountInBRL]
Index: []

In [5]:
receivables

Empty DataFrame
Columns: [confirmedDate, eventType, amountInBRL]
Index: []

In [6]:
batimentoCleared

Empty DataFrame
Columns: [confirmedDate, eventType, vssAmount, receivablesAmount, dif]
Index: []

### Roteiro

- Criar um DataFrame diferente para cada batimento de eventType
- Implementar cada batimento usando groupBy
     - Compilar array de datas confirmedDate a partir das datas distintas presentes nas duas bases
     - Incluir amounts das duas bases nas respectivas colunas (amount_Stone e amount_Visa)
     - Calcular a dif como a diferença entre os amounts mencionados acima para cada eventType
- Juntar todos os DataFrames de batimento individuais num único multi-index (hierarquia de índices)

In [12]:
debit = pd.DataFrame(columns = ['confirmedDate', 'amount_Stone', 'amount_Visa', 'dif']) 
credit = pd.DataFrame(columns = ['confirmedDate', 'amount_Stone', 'amount_Visa', 'dif']) 
chargeback = pd.DataFrame(columns = ['confirmedDate', 'amount_Stone', 'amount_Visa', 'dif']) 
secondPresentment = pd.DataFrame(columns = ['confirmedDate', 'amount_Stone', 'amount_Visa', 'dif'])

###### Chech tabelas de batimento

In [13]:
debit

Empty DataFrame
Columns: [confirmedDate, amount_Stone, amount_Visa, dif]
Index: []

In [14]:
credit

Empty DataFrame
Columns: [confirmedDate, amount_Stone, amount_Visa, dif]
Index: []

In [15]:
chargeback

Empty DataFrame
Columns: [confirmedDate, amount_Stone, amount_Visa, dif]
Index: []

In [25]:
secondPresentment

Empty DataFrame
Columns: [confirmedDate, amount_Stone, amount_Visa, dif]
Index: []

######  Ok

In [23]:
# Datas de clearing distintas em cada base
vssDates = vss.confirmedDate.unique()
receivablesDates = receivables.confirmedDate.unique()

# Remoção de duplicatas entre base, composição da base única de datas distintas (allDates)
allDates = vssDates+receivablesDates
allUniqueDates = allDates.unique()

# Check
allDates

array([], dtype=object)

In [24]:
# Atribuindo datas distintas ao campo de data dos batimentos
credit.confirmedDate = allDates
debit.confirmedDate = allDates
chargeback.confirmedDate = allDates
secondPresentment.confirmedDate = allDates

In [39]:
# Incluindo amounts das bases originais nas bases de batimento


### Amounts Stone (Receivables)
creditAmounts_Stone = receivables[receivables.eventType == 'credit'].groupby("confirmedDate").sum()

debitAmounts_Stone = receivables[receivables.eventType == 'debit'].groupby("confirmedDate").sum()

chargebackAmounts_Stone = receivables[receivables.eventType == 'chargeback'].groupby("confirmedDate").sum()

secondPresentmentAmounts_Stone = receivables[receivables.eventType == 'secondPresentment'].groupby("confirmedDate").sum()


### Amounts Visa (VSS-910)
creditAmounts_Visa = vss[vss.eventType == 'credit'].groupby("confirmedDate").sum()

debitAmounts_Visa = vss[vss.eventType == 'debit'].groupby("confirmedDate").sum()

chargebackAmounts_Visa = vss[vss.eventType == 'chargeback'].groupby("confirmedDate").sum()

secondPresentmentAmounts_Visa = vss[vss.eventType == 'secondPresentment'].groupby("confirmedDate").sum()

In [33]:
credit.amount_Stone

Series([], Name: amount_Stone, dtype: float64)

In [42]:
for date in allDates:
    #Incluindo amounts Stone nas bases de batimento
    credit[credit.confirmedDate == date].amount_Stone = creditAmounts_Stone[creditAmounts_Stone.confirmedDate == date].amountInBRL
    debit[debit.confirmedDate == date].amount_Stone = debitAmounts_Stone[debitAmounts_Stone.confirmedDate == date].amountInBRL
    chargeback[chargeback.confirmedDate == date].amount_Stone = chargebackAmounts_Stone[chargebackAmounts_Stone.confirmedDate == date].amountInBRL
    secondPresentment[secondPresentment.confirmedDate == date].amount_Stone = secondPresentmentAmounts_Stone[secondPresentmentAmounts_Stone.confirmedDate == date].amountInBRL
    
    
    #Incluindo amounts Visa nas bases de batimento
    credit[credit.confirmedDate == date].amount_Visa = creditAmounts_Visa[creditAmounts_Visa.confirmedDate == date].amountInBRL
    debit[debit.confirmedDate == date].amount_Visa = debitAmounts_Visa[debitAmounts_Visa.confirmedDate == date].amountInBRL
    chargeback[chargeback.confirmedDate == date].amount_Visa = chargebackAmounts_Visa[chargebackAmounts_Visa.confirmedDate == date].amountInBRL
    secondPresentment[secondPresentment.confirmedDate == date].amount_Visa = secondPresentmentAmounts_Visa[secondPresentmentAmounts_Visa.confirmedDate == date].amountInBRL
    
    # Fazer batimento em cada data
    credit[credit.confirmedDate == date].dif = credit[credit.confirmedDate == date].amount_Visa - credit[credit.confirmedDate == date].amount_Stone
    debit[debit.confirmedDate == date].dif = debit[debit.confirmedDate == date].amount_Visa - debit[debit.confirmedDate == date].amount_Stone
    chargeback[chargeback.confirmedDate == date].dif = chargeback[chargeback.confirmedDate == date].amount_Visa - chargeback[chargeback.confirmedDate == date].amount_Stone
    secondPresentment[secondPresentment.confirmedDate == date].dif = secondPresentment[secondPresentment.confirmedDate == date].amount_Visa - secondPresentment[secondPresentment.confirmedDate == date].amount_Stone