In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("VSS910.csv", encoding  = "UTF-8", sep = ";")

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 9 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   ReportDate                191 non-null      datetime64[ns]
 1   BusinessTransactionType   1048575 non-null  object
 2   BusinessTransactionCycle  1048575 non-null  object
 3   ReversalIndicator         1048575 non-null  object
 4   Count                     191 non-null      float64
 5   GrossAmount               0 non-null        float64
 6   InterchangeAmount         0 non-null        float64
 7   NetAmount                 0 non-null        float64
 8   DefermentDays             0 non-null        float64
dtypes: datetime64[ns](1), float64(5), object(3)
memory usage: 72.0+ MB

In [14]:
df["GrossAmount"] = pd.to_numeric(df["GrossAmount"],errors='coerce')

In [17]:
df["InterchangeAmount"] = pd.to_numeric(df["InterchangeAmount"],errors='coerce')

In [21]:
df["NetAmount"] = pd.to_numeric(df["NetAmount"],errors='coerce')

In [22]:
df["DefermentDays"] = pd.to_numeric(df["DefermentDays"],errors='coerce')

In [26]:
df["ReportDate"] = pd.to_datetime(df["ReportDate"])

In [32]:
df["BusinessTransactionType"] = df["BusinessTransactionType"].astype("str")

In [34]:
df["BusinessTransactionCycle"] = df["BusinessTransactionCycle"].astype("str")

In [35]:
df["ReversalIndicator"] = df["ReversalIndicator"].astype("str")

In [25]:
df.head()

,ReportDate,BusinessTransactionType,BusinessTransactionCycle,ReversalIndicator,Count,GrossAmount,InterchangeAmount,NetAmount,DefermentDays
0,2021-01-01,Merchandise Credit,Originals,N,1037.0,NaN,NaN,NaN,NaN
1,2021-01-01,Merchandise Credit,Originals,N,11743.0,NaN,NaN,NaN,NaN
2,2021-01-01,Purchase,Dispute Financial,N,2571.0,NaN,NaN,NaN,NaN
3,2021-01-01,Purchase,Dispute Response Financial,N,77.0,NaN,NaN,NaN,NaN
4,2021-01-01,Purchase,Not Defined,Y,284.0,NaN,NaN,NaN,NaN