In [54]:
import pandas as pd
import numpy as np

In [63]:
df = pd.read_csv("VSS910.csv", encoding  = "UTF-8", sep = ";", parse_dates=["ReportDate"],  usecols=["ReportDate", "BusinessTransactionCycle", "GrossAmount"])

In [66]:
df.dtypes

ReportDate                  datetime64[ns]
BusinessTransactionCycle            object
GrossAmount                        float64
dtype: object

In [65]:
df["GrossAmount"] = pd.to_numeric(df["GrossAmount"],errors='coerce')

In [67]:
df["ReportDate"] = pd.to_datetime(df["ReportDate"])

In [68]:
df["BusinessTransactionCycle"] = df["BusinessTransactionCycle"].astype("str")

In [72]:
df.rename(columns={"ReportDate": "confirmedDate",
                  "BusinessTransactionCycle": "eventType",
                  "GrossAmount": "amountInBRL"})

    confirmedDate                   eventType  amountInBRL
0      2021-01-01                   Originals          NaN
1      2021-01-01                   Originals          NaN
2      2021-01-01           Dispute Financial          NaN
3      2021-01-01  Dispute Response Financial          NaN
4      2021-01-01                 Not Defined          NaN
..            ...                         ...          ...
186    2021-01-24           Dispute Financial          NaN
187    2021-01-24  Dispute Response Financial          NaN
188    2021-01-24                 Not Defined          NaN
189    2021-01-24                   Originals          NaN
190    2021-01-24                   Originals          NaN

[191 rows x 3 columns]

In [75]:
df["BusinessTransactionCycle"].replace({"Dispute Financial": "chargeback","Dispute Response Financial": "secondPresentment" })

0              Originals
1              Originals
2             chargeback
3      secondPresentment
4            Not Defined
             ...
186           chargeback
187    secondPresentment
188          Not Defined
189            Originals
190            Originals
Name: BusinessTransactionCycle, Length: 191, dtype: object

In [47]:
df.head()

  ReportDate    BusinessTransactionCycle  GrossAmount
0 2021-01-01                   Originals          NaN
1 2021-01-01                   Originals          NaN
2 2021-01-01           Dispute Financial          NaN
3 2021-01-01  Dispute Response Financial          NaN
4 2021-01-01                 Not Defined          NaN